.tabs {
  display: flex;

  box-shadow: inset 0 -1px var(--color-border);

  // TODO: make better
  white-space: nowrap;
  overflow-x: scroll;
}

.content {
  padding: var(--spacing-md);
}

.tab {
  --trim: transparent;

  all: unset;

  display: inline-block;
  flex: 1;

  padding: var(--spacing-md);
  box-shadow: inset 0 -2px 0 0 var(--trim);

  text-align: center;

  cursor: pointer;

  transition:
    color 0.1s,
    box-shadow 0.1s;

  &:hover:not([data-state='active']) {
    --trim: var(--color-border);

    color: var(--color-foreground);
  }

  &[data-state='active'] {
    --trim: var(--color-primary);

    color: var(--color-primary);
  }

  // &:focus {
  //   box-shadow: inset 0 0 0 2px var(--color-foreground);
  // }
}
