.container {
}

.tabs {
  // TODO: make better
  white-space: nowrap;
  overflow-x: scroll;
}

.content {
  padding: var(--spacing-md);
}

.tab {
  display: inline-block;

  padding: var(--spacing-md);
  border-bottom: 2px solid var(--color-border);

  cursor: pointer;

  &:hover {
    background-color: var(--color-border);
    color: var(--color-foreground);
  }
}

.activeTab {
  color: var(--color-primary);
  border-bottom-color: var(--color-primary);
}
