.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-lg);
}

.stepsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  // Remove <ol> padding
  padding: 0;
}

.step {
  // Align items horizontally
  display: flex;
  flex: 1;
  gap: var(--spacing-md);
  border: 1px solid var(--color-border);
  border-radius: var(--border-container);

  padding: var(--spacing-lg);

  // Active step
  color: var(--color-foreground);

  // Grey out incomplete steps
  &.incomplete > p,
  &.incomplete > p > * {
    pointer-events: none;
    color: var(--color-border) !important;
  }
}

.checkIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: var(--spacing-sm);
  border: 1px solid var(--color-inactive);

  border-radius: var(--border-full);

  width: 24px;
  height: 24px;

  color: transparent;

  &.iconComplete {
    border-color: none;
    background-color: var(--color-primary);

    color: white;
  }
}

.dashboardButton {
  width: fit-content;

  &.disabledButton {
    cursor: not-allowed;
    border: 1px solid var(--color-text);
    background: none;
    color: var(--color-text);
  }
}
