/**
 * Form elements
 */

label {
  display: block;

  margin-top: var(--spacing-md);

  font-size: var(--text-small);
}

input,
select,
textarea {
  border: 1px solid var(--color-border);
  border-radius: var(--border-small);

  background: var(--color-container);
  padding: 2px;

  color: var(--color-foreground);
}

input:not([type='file'], [type='radio']),
select {
  padding: var(--spacing-md);
  height: 2.5rem;
}

input {
  outline-offset: -1px;
  font-size: var(--text-small);

  &:is([type='radio'], [type='checkbox']) {
    margin-right: var(--spacing-md);
  }
}

select {
  // <select> doesn't inherit color from body
  color: var(--color-text);
}

button {
  border: none;
  border-radius: 0.5rem;

  background: var(--color-primary);
  padding: 0.5rem 1.5rem;

  color: var(--color-surface-text);

  svg {
    display: inline;
  }
}
