.container {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;

  max-width: 100%;

  overflow-x: scroll;
}

.item {
  --border: var(--color-border);

  flex: 1;

  border-bottom: 2px solid var(--border);
  padding: var(--spacing-lg) var(--spacing-md);

  min-width: max-content;
  height: fit-content;

  text-align: center;

  &.active {
    --border: var(--color-primary);
  }
}

.active > p {
  color: var(--color-primary);
}

.complete > p {
  color: var(--color-primary);
}

.inactive > p {
  color: var(--color-foreground);
}
