.containerMargins {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;

  min-height: 100%;
}

// TODO: convert to mobile-first
.container {
  display: flex;
  flex: 1;
  flex-direction: column;

  background-color: var(--color-container);

  padding: var(--spacing-xl);
  padding-top: var(--spacing-lg);
}

@media (min-width: 712px) {
  // :root {
  //   --color-background: #fcfcff;
  // }

  .containerMargins {
    padding: 1rem;
  }

  .container {
    outline: 1px solid var(--color-border);
    border-radius: var(--border-container);
    width: 680px;
  }
}

.formPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;

  section {
    // Spacing between text elements
    p + *,
    ul + *,
    ol + * {
      margin-top: var(--spacing-md);
    }

    // Spacing between sections
    & + section {
      margin-top: var(--spacing-lg);
    }
  }

  textarea {
    max-width: 100%;
    min-height: 2rem;
  }
}

.actions {
  display: flex;
  flex: 1;
  align-items: flex-end;
  gap: var(--spacing-md);
  margin-top: var(--spacing-lg);

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md);

    padding: var(--spacing-lg) 0;

    width: 100%;
    height: fit-content;
  }

  .hiddenButton {
    visibility: hidden;
  }

  .backButton {
    transition: background-color 0.1s;
    border: 1px solid var(--color-primary);
    background: none;

    color: var(--color-primary);

    &:hover {
      background-color: rgba(var(--color-primary-rgb), 0.1);
    }
  }
}

.inlineLabel {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

@media (max-width: $width-mobile) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .formPage {
    height: 100%;
  }

  .actions {
    text-align: right;
  }
}
