.pending {
  --color: 51, 51, 51;
}

.approved {
  --color: var(--color-primary-rgb);
}

.rejected {
  --color: 255, 51, 51;
}

.container {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);

  width: 100%;
  padding: var(--spacing-lg);

  border-left: 2px solid rgb(var(--color));

  background: rgba(var(--color), 5%);

  color: var(--color-foreground);
}

.iconContainer {
  padding: var(--spacing-md);
  border-radius: var(--border-small);

  background: rgb(var(--color));

  color: white;
}
