@keyframes overlay-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    backdrop-filter: blur(2px);
  }
}

@keyframes content-appear {
  from {
    transform: translate(-50%, -48%) scale(0.96);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.trigger {
  background: none;
  padding: 0;
}

.overlay {
  position: fixed;
  z-index: 1000;

  animation: overlay-appear 0.1s forwards;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.25);
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  z-index: 1000;

  animation: content-appear 0.1s forwards;
  box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.16);
  border-radius: var(--border-container);

  background: var(--color-background);

  padding: var(--spacing-container);

  width: max-content;

  section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);

    margin: var(--spacing-lg) 0;
  }
}

.title {
  font-size: 1.15rem;
}

.sectionTitle {
  font-size: var(--text-body);
}

.formLine {
  display: flex;
  gap: var(--spacing-md);

  span {
    width: 15ch;
    text-align: right;
  }

  p {
    color: var(--color-foreground);
  }
}

.actionButtonContainer {
  display: flex;
  gap: var(--spacing-md);
}

.actionButton {
  flex: 1;

  transition: background 0.1s;

  border: 1px solid var(--color-primary);
  border-radius: var(--border-small);
  background: none;

  color: var(--color-primary);

  &:hover {
    background: var(--color-primary);
    color: white;
  }
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin: initial;

  background: none;
  padding: initial;

  color: var(--color-foreground);
}
